/*UI Elements*/
a {
    color: #030027;
    text-decoration: none;
    font-family: 'roboto';
    
}

p {
    font-size: 16px;
}

* {
    box-sizing: content-box;
    
    
}

.avatar {
    vertical-align: bottom;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-top: 3px;


}

/*Header*/
.work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    

}

.horiseon .calculator .run-buddy .led-wall{
    display: grid;
    
}

.horiseon {
    width: 400px;
    height: 400px;
    border: 5px solid #3B5249;
    padding: 50px;
    margin: 20px;
    
    background-image: url("../images/horiseon.PNG");
    background-size: 100% 100%;
    

    

}

.calculator {
    width: 100px;
    height: 100px;
    border: 5px solid #3B5249;
    padding: 50px;
    margin: 20px;
    align-self: flex-end;
    background-image: url("../images/calculator.PNG");
    background-size: 100% 100%;
}

.run-buddy{
    width: 100px;
    height: 100px;
    border: 5px solid #3B5249;
    padding: 50px;
    margin: 20px;
    align-self: flex-end;
    background-image: url("../images/run-buddy.PNG");
    background-size: 100% 100%;
    
}

.led-wall {
    width: 100px;
    height: 100px;
    border: 5px solid #3B5249;
    padding: 50px;
    margin: 20px;
    align-self: flex-end;
    background-image: url("../images/led-wall.PNG");
    background-size: 100% 100%;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    
    font-size: 20px;
}

h1 {
    color: #00;
    font-family: 'fugaz one'; 
    font-size: 42px;
    font-style: normal;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 5px;
}

h2 {
    color: #212540;

}

h3 {
    
    background-color:#5c5f58;
    
    float:inline-end;  
    
}

h3 span:hover {
    background-color: #3B5249;
    color: #fff;
}


/*Body */ 
.hero {
    height: 460px;
    width: 100%;
    margin-top:45px;
    margin-bottom: 25px;
    background-image: url("../images/laptop-screen.jpg");
    background-size: cover;
    background-position: center;

}
/*Hero Section*/ 

ul li {
    color: #5c5f58;
    margin-right: 25px;
    padding-right: 20px;
    text-align: left;
    border-bottom: 3px solid transparent;
    font-family: 'roboto';
    overflow: hidden;
    
}

li {
    float: left;
    text-align:right;
  }
  
  li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    border-bottom: 3px solid #fa2e2c;
  }
  


/*Hero Content*/ 

/*Footer*/

@media only screen and (max-width: 800px) {
    .horiseon .led-wall .calculator .run-buddy h3{    

        flex-direction: column;
        
    }
}