/*UI Elements*/
a {
    color: #B73225;
    text-decoration: none;
    font-family: 'roboto';
}

p {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/*Header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

h1 {
    color: #004e7c;
    font-family: 'fugaz one'; 
    font-size: 42px;
    font-style: normal;
}

h2 {
    color: #5c5f55;
}

/*Body */ 

ul li {
    color: #5c5f58;
    margin-right: 25px;
    display: inline-block;
    padding-right: 20px;
    list-style-type: none;
    font-family: 'roboto';
}



/*Hero Content*/ 

/*Footer*/